---

---

<div class="bg-white p-8">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-10">
    <div class="row-span-2 text-left">
      <h2 class="text-2xl font-bold text-gray-800 uppercase">My Skills</h2>
      <h1 class="text-4xl font-bold text-gray-900 mb-6 mt-2">
        Solving problems with effective software
      </h1>
      <p class="text-gray-600 text-lg pl-4">
        With my business and technical background, I combine insights from
        stakeholders and users together with my knowledge of modern software
        developement practices to provide effective solutions to their
        challenges.
      </p>
    </div>
    <div class="p-6 bg-secondary">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-line-chart w-16 h-16 mb-2"
        ><path d="M3 3v18h18"></path><path d="m19 9-5 5-4-4-3 3"></path></svg
      >
      <h3 class="font-semibold text-xl mb-2">Product Management</h3>
      <p class="text-gray-600">
        Continuous Discovery, User Story Mapping, A/B Testing, Prototyping
      </p>
    </div>
    <div class="p-6 bg-secondary">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-handshake w-16 h-16 mb-2"
        ><path d="m11 17 2 2a1 1 0 1 0 3-3"></path><path
          d="m14 14 2.5 2.5a1 1 0 1 0 3-3l-3.88-3.88a3 3 0 0 0-4.24 0l-.88.88a1 1 0 1 1-3-3l2.81-2.81a5.79 5.79 0 0 1 7.06-.87l.47.28a2 2 0 0 0 1.42.25L21 4"
        ></path><path d="m21 3 1 11h-2"></path><path
          d="M3 3 2 14l6.5 6.5a1 1 0 1 0 3-3"></path><path d="M3 4h8"
        ></path></svg
      >
      <h3 class="font-semibold text-xl mb-2">Project Management</h3>
      <p class="text-gray-600">
        Agile Practices, OKR-Planing, Risk Management, Stakeholder Management
      </p>
    </div>
    <div class="p-6 bg-secondary">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-pie-chart w-16 h-16 mb-2"
        ><path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path><path
          d="M22 12A10 10 0 0 0 12 2v10z"></path></svg
      >
      <h3 class="font-semibold text-xl mb-2">Data Science and Analysis</h3>
      <p class="text-gray-600">
        SQL, Python, Pandas, Jupyter Notebooks, Metabase, Quicksight, Superset
      </p>
    </div>
    <div class="p-6 bg-secondary">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-code-xml w-16 h-16 mb-2"
        ><path d="m18 16 4-4-4-4"></path><path d="m6 8-4 4 4 4"></path><path
          d="m14.5 4-5 16"></path></svg
      >
      <h3 class="font-semibold text-xl mb-2">Software Development</h3>
      <p class="text-gray-600">
        Typescript, Nest.js, React, Next.js, Astro, Vue, Nuxt, Tailwind, Git,
        MySQL, MongoDB, OpenAPI
      </p>
    </div>
  </div>
</div>
